{% extends "query_rough.html" %}
{% block content %}
{% with messages= get_flashed_messages()%}
    {% if messages %}
    <caption><h2>All Transactions</h2></caption>
    <table> 
        <thead><tr><th>TransactionID</th><th>Faculty EmailID</th><th>Amount</th><th>User</th><th>Number of approvals</th><th>Approvers</th></tr></thead> 
       <tbody>
        {%for message in messages%}
            {% if message is iterable and message is not string %}
                {%for r in message%}
                <tr>
                    <td>{{r["txnID"]}}</td>
                    <td>{{r["fac_email"]}}</td>
                    <td>{{r["amt"]}}</td>
                    <td>{{r["userID"]}}</td>
                    <td>{{r["approvals"]}}</td>
                    <td>{{r["approvers"]}}</td>
                </tr>
                {% endfor %}  
            {% endif %}   
        {% endfor %}
    {% endif %}
    </tbody>
{% endwith %}
</table>
{% endblock %}