{% extends "table_rough.html" %}
{% block content %}
<table class="table table-bordered">
<thead><tr><th>TransactionID</th><th>Faculty EmailID</th><th>Amount</th><th>User</th><th>Number of approvals</th><th>Approvers</th><th>Approve transaction</th></tr></thead>
<tbody>
<tr><td>3</td><td>prashanthi@uni.edu</td><td>-10000</td><td>prashanthi@uni.edu</td><td>0</td><td>[]</td><td><form action="/table" method="post"><button class="contact100-form-btn" name="txnid" type="submit" value="3">Approve transaction</button></form></td></tr>
</tbody>
</table>
{% endblock %}